.container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 300px 300px 300px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;

}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#pic1{
	grid-column-start: 1;
	grid-column-end: 3;
}
#pic4{
	grid-column-start: 2;
	grid-column-end: 4;
}